.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  display: block;
  margin: 1em;
  width: 480px;
}

textarea {
  width: 480px;
  height: 125px;
}

