.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.PersonalDetails{
  border: 2px solid red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  display: block;
  margin: 1em;
  width: 200px;
}

