
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  max-width: 500px;
  background: white;
  padding: 4em;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  display: block;
  margin: 1em;
  width: 480px;
}

textarea {
  width: 480px;
  height: 125px;
}

.previewCv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  max-width: 500px;
  background: white;
  border: 3px solid black;
  padding: 4em;
}

